FLASK_APP=manage.py
FLASK_ENV=production
SECRET_KEY=your_secret_key_here

DATABASE_URL=postgresql://myuser:mypassword@db:5432/weddingdb

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_mail_app_password
MAIL_DEFAULT_SENDER=your_email@gmail.com

RECAPTCHA_SITE_KEY=your_recaptcha_site_key
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key

BABEL_DEFAULT_LOCALE=it
BABEL_SUPPORTED_LOCALES=it,en,ar

UPLOAD_FOLDER=instance/uploads
ALLOWED_EXTENSIONS=png,jpg,jpeg,gif
MAX_CONTENT_LENGTH=5242880
